body {
  background-color: #FFFFFF;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

#root {
  padding: 30px;
}

ul {
  list-style-type: none;
  padding:0;
}

li {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  border: 5px solid lightgray;
  padding: 3px 20px;
  border-radius: 5px;
}

.list-text {
  flex:auto;
  position:relative;
}

.list-text .last-mutation{
  padding: 3px 20px;
  position:absolute;
  border: 5px solid lightgray;
  border-radius: 5px;
  background-color: #FFFFFF;
  z-index: 100;
  display: none;
  transition: 500ms;
  right:10px;
  top:-3px;
}

.list-text:hover .last-mutation{
  display: block;
}

.list-like {
  width:30px;
}

.list-button {
  width:30px;
}


h1, h2, h3, h4, h5, h6 {
  margin:30px;
  text-align: center;
}

button {
  border:none;
  border-radius: 5px;
  background-color:lightblue;
  color:#666666;
  padding: 5px;
  margin:5px;
}

.container {
  display: flex;
}

.content{
  display:flex;
}

.content .content-main{
  min-width:180px;
  flex:70%;
}

.content.content-side{
  flex:30%;
}

.deleted {
  display: none;
}